@model LostFilmMonitoring.BLL.Models.IndexModel

<style>
    .item-name {
        color: green;
    }

    .item-quality {
        color: darkblue;
        padding-left: 5px;
    }

    .item-remove {
        color: orangered;
        padding-left: 5px;
        font-weight: bold;
        cursor: pointer;
    }

    .serial-item:checked + .serial-item-label {
        font-weight: bold;
        color: red;
    }

    .serial {
        height: 250px;
        margin: 3px;
        overflow: hidden;
        border: 1px solid white;
        cursor: pointer;
        text-align: center;
    }

    .serial-header {
        height: 40px;
        font-weight: bold;
        position: relative;
    }

        .serial-header DIV {
            bottom: 0;
            left: 50%;
            position: absolute;
            margin-left: -75px;
            width: 150px;
        }


    .serial-selected {
        background-color: aquamarine;
        border: 1px solid green;
    }

    .hidden {
        display: none;
    }

    .col-md-2 {
        padding: 0;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <h2>Создайте ваш персональный RSS Torrent Feed с сайта LostFilm.TV</h2>
        @foreach (var item in Model.AllSerials)
        {
            var selected = Model.SelectedItems?.FirstOrDefault(i => i.Serial == item.Name);
            var quality = selected?.Quality;
            <div class="col-md-2">
                <div class="serial @(selected != null ? "serial-selected" : "")" onclick="check(this)">
                    <input type="hidden" name="@item.Name" value="@(selected != null)" />
                    <div class="serial-header"><div>@item.Title</div></div>
                    <img src="~/images/serials/@($"{item.Escaped}.jpg")" />
                    <div style="padding-top: 5px;">
                        <a target="_blank" onclick="window.event.stopPropagation();" href="https://www.google.by/search?q=Сериал @item.Title трейлер">Смотреть трейлер</a><br />
                        @Html.DropDownList(
             item.Name + "_quality",
             new SelectList(new[] { "SD", "1080", "MP4" }, quality),
             null,
             new
             {
                 @class = selected != null ? "" : "hidden",
                 onclick = "window.event.stopPropagation();changeQuality();"
             })
                    </div>
                </div>
            </div>
        }
    </div>

    @section Menu {
        <li><a id="save" href="javascript:submit()" style="font-weight:bold; color:yellow; font-size:16px; display:none;">Сохранить изменения</a></li>
        <li><a id="saved" href="javascript:void(0)" style="font-weight:bold; color:chartreuse; font-size:16px; display:none;">Сохранено</a></li>
    }

    @section Scripts {
        <script>
            var changeQuality = function () {
                $('#save').show();
            }
            var check = function (div) {
                $('#save').show();
                var hidden = div.getElementsByTagName('input')[0];
                var select = div.getElementsByTagName('select')[0];
                if (hidden.value !== "") {
                    div.classList.remove("serial-selected");
                    select.classList.add("hidden");
                    hidden.value = "";
                } else {
                    div.classList.add("serial-selected");
                    select.classList.remove("hidden");
                    hidden.value = "value";
                }
            }
            var collect = function () {
                var data = new Array()
                var hiddens = $('.serial').find('input[type=hidden]:first');
                for (var i = 0; i < hiddens.length; i++) {
                    if (hiddens[i].value === "") continue;
                    data.push(
                        {
                            Serial: hiddens[i].name,
                            Quality: document.getElementsByName(hiddens[i].name + "_quality")[0].value
                        }
                    );
                }
                return data;
            }

        </script>

        @if (Model.KnownUser)
        {
            <script>
                var submit = function () {
                    $.post("/", { SelectedItems: collect() }, function () {
                        $('#save').hide();
                        $('#saved').show(0).delay(1000).hide(0);
                    });
                }
            </script>
        }
        else
        {
            <script>
                var submit = function () {
                    $.cookie("selected", JSON.stringify(collect()));
                    location.href="@Url.Action("Register")"
                }
            </script>
        }
}