@model LostFilmMonitoring.BLL.Models.EditUserRequestModel
<h2>Регистрация</h2>
<form method="post">
    <div>
        @Html.LabelFor(m => m.Uid)
        @Html.TextBoxFor(m => m.Uid)
        @Html.ActionLink("Где взять", "uid", "home", new { }, htmlAttributes: new { @target = "_blank" })
    </div>
    <div>
        @Html.LabelFor(m => m.Usess)
        @Html.TextBoxFor(m => m.Usess)
        @Html.ActionLink("Где взять", "usess", "home", new { }, htmlAttributes: new { @target = "_blank" })
    </div>
    <div>
        @Html.LabelFor(m => m.If_session)
        @Html.TextBoxFor(m => m.If_session)
        @Html.ActionLink("Где взять", "ifsession", "home", new { }, htmlAttributes: new { @target = "_blank" })
    </div>
    <div>
        @Html.LabelFor(m => m.TrackerId)
        @Html.TextBoxFor(m => m.TrackerId)
        @Html.ActionLink("Где взять", "trackerId", "home", new { }, htmlAttributes: new { @target = "_blank" })
    </div>
    <input type="submit" /><br />
</form>