@model LostFilmMonitoring.BLL.Models.FeedViewModel

<h2>Ваша подписка</h2>
@if (Model.Feed != null)
{
    @foreach (var item in Model.Feed)
    {
        <div>
            <span class="mytime" utc="@item.PublishDateParsed.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss'.'fff'Z'")"></span>
            <a href="@item.Link" rel="noreferrer">@item.Title</a>
        </div>
    }
}

<br />
<h2>RSS Ссылка для Torrent клиента</h2>
<a href="@Url.Action("Rss", "Home", new { userId = Model.UserId })" target="_blank">
    @(Context.Request.Scheme + "://" + Context.Request.Host)@Url.Action("Rss", "Feed", new { userId = Model.UserId })
</a>

<h2>Детали пользователя:</h2>
<span>@Model.UserId</span>
<form method="post">
    <dib>
        @Html.LabelFor(m => m.Uid)
        @Html.TextBoxFor(m => m.Uid)
        @Html.ActionLink("Где взять", "uid", "home", new { }, htmlAttributes: new { @target = "_blank" })
    </dib>
    <div>
        @Html.LabelFor(m => m.Usess)
        @Html.TextBoxFor(m => m.Usess)
        @Html.ActionLink("Где взять", "usess", "home", new { }, htmlAttributes: new { @target = "_blank" })
    </div>
    <div>
        @Html.LabelFor(m => m.If_session)
        @Html.TextBoxFor(m => m.If_session)
        @Html.ActionLink("Где взять", "ifsession", "home", new { }, htmlAttributes: new { @target = "_blank" })
    </div>
    <div>
        @Html.LabelFor(m => m.TrackerId)
        @Html.TextBoxFor(m => m.TrackerId)
        @Html.ActionLink("Где взять", "trackerId", "home", new { }, htmlAttributes: new { @target = "_blank" })
    </div>
    <input type="submit" /><br />
</form>

@section Scripts{ 
    <script>
        $(function () {
             $(".mytime").each(function (i, obj) {
                var element = $(obj);
                var utc = element.attr("utc");
                var d = new Date(utc);
                var l = d.toLocaleString();
                element.text(l);
            });
        });
    </script>
}