@model LostFilmMonitoring.BLL.Models.FeedViewModel

<h2>Ваша подписка</h2>
@if (Model.Feed != null)
{
    @foreach (var item in Model.Feed)
    {
        <div>@item.PublishDateParsed <a href="@item.Link" rel="noreferrer">@item.Title</a></div>
    }
}

<br />
<h2>RSS Ссылка для Torrent клиента</h2>
<a href="@Url.Action("Rss", "Home", new { userId = Model.UserId })" target="_blank">
    @(Context.Request.Scheme + "://" + Context.Request.Host)@Url.Action("Rss", "Home", new { userId = Model.UserId })
</a>