@model LostFilmMonitoring.Web.ViewComponents.Episodes

<div class="col-md-12" style="margin:20px;">
    <h2>@Model.Title</h2>
    @foreach (var item in Model.Items)
    {
        <div class="col-md-2">
            <div class="series @(item.Selected ? "series-selected" : "")" onclick="check(this)">
                <input type="hidden" name="@item.Name" value="@item.Selected" />
                <div class="series-header"><div>@item.Title</div></div>
                <img src="~/images/series/@($"{item.Escaped}.jpg")" />
                <div style="padding-top: 5px;">
                    <a target="_blank" onclick="window.event.stopPropagation();" href="https://www.google.by/search?q=Сериал @item.Title трейлер">Смотреть трейлер</a><br />
                    @Html.DropDownList(
                         item.Name + "_quality",
                         new SelectList(new[] { "SD", "1080", "MP4" }, item.Quantity),
                         null,
                         new
                         {
                             @class = item.Selected ? "" : "hidden",
                             onclick = "window.event.stopPropagation();changeQuality();"
                         })
                </div>
            </div>
        </div>
    }
</div>